@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .border-active:has(:checked) {
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        #b91c1c 7%,
        #b91c1cb8 13%,
        #a28c8c 50%,
        #a28c8cc4 75%,
        transparent 95%
      )
      border-box;
}

.border-active:hover {
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        #b91c1c 7%,
        #b91c1cb8 13%,
        #a28c8c 50%,
        #a28c8cc4 75%,
        transparent 95%
      )
      border-box;
} */

.air-datepicker {
  width: 398px;
  overflow: hidden;
  border-radius: 8px;
}

.air-datepicker .air-datepicker--navigation .air-datepicker-nav {
  background-color: black;
  height: 42px;
  border-bottom: none;
}
.air-datepicker .air-datepicker--navigation .air-datepicker-nav--title,
i {
  color: white !important;
}

.air-datepicker .air-datepicker-nav--action svg {
  filter: brightness(100);
}

.air-datepicker .air-datepicker--content {
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #00000036;
}

.air-datepicker .air-datepicker--content .air-datepicker-body--day-names {
  font-size: 1.2rem;
  margin: 8px 0;
}
.air-datepicker .air-datepicker--content .air-datepicker-body--cells.-days- {
  font-size: 16px;
}

.air-datepicker .air-datepicker--content .air-datepicker-body--day-names,
.air-datepicker-body--day-name.-weekend-,
.air-datepicker-body--day-name {
  color: #bb1919;
}

.air-datepicker-body--cells {
  place-items: center !important;
}

.air-datepicker .air-datepicker-cell.-day-.-selected- {
  background-color: #bb1919;
  color: white;
}
.air-datepicker .air-datepicker-cell.-day- {
  background-color: transparent;
  width: 28px;
  height: 24px;
  border-radius: 3px;
  color: #000000bd;
}
.air-datepicker .air-datepicker-cell.-day-.-other-month- {
  color: #80808069;
}

.air-datepicker--pointer {
  display: none;
}
