@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  min-width: 0;
}

.opacity-100 {
  opacity: 100;
}

.max-h-dropdown {
  max-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}

.shadow-custom {
  box-shadow: 0 0.5px 2px rgb(0, 0, 0, 0.2);
}

.pointer-events-auto {
  pointer-events: auto;
}

.air-datepicker {
  width: 400px;
  overflow: visible;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 1px 2.5px rgb(0, 0, 0, 0.15);
  font-family: "Rubik", sans-serif;
}

.air-datepicker .air-datepicker--navigation .air-datepicker-nav {
  background-color: black;
  height: 42px;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.air-datepicker .air-datepicker--navigation .air-datepicker-nav--title,
i {
  color: white !important;
}

.air-datepicker .air-datepicker-nav--action:hover,
.air-datepicker .air-datepicker-nav--action:active,
.air-datepicker .air-datepicker-nav--title:hover,
.air-datepicker .air-datepicker-nav--title:active {
  background-color: transparent;
}

.air-datepicker .air-datepicker-nav--action svg {
  filter: brightness(100);
}

.air-datepicker .air-datepicker--content {
  padding: 0;
  padding-bottom: 12px;
  padding-top: 8px;
  border-bottom: 1px solid #ab9c9c36;
}

.air-datepicker .air-datepicker--content .air-datepicker-body--day-names {
  font-size: 1.2rem;
  margin: 8px 0;
}

.air-datepicker .air-datepicker-body--cells {
  place-items: center !important;
}

.air-datepicker .air-datepicker--content .air-datepicker-body--cells {
  font-size: 16px;
}

.air-datepicker .air-datepicker--content .air-datepicker-body--day-names,
.air-datepicker-body--day-name.-weekend-,
.air-datepicker-body--day-name {
  color: #bb1919;
}

.air-datepicker .air-datepicker-cell.-day-.-selected-,
.air-datepicker .air-datepicker-cell.-day-.-selected-:hover {
  background-color: #bb1919;
  color: white;
}
.air-datepicker .air-datepicker-cell.-day- {
  background-color: transparent;
  width: 28px;
  height: 24px;
  border-radius: 3px;
  color: #00000099;
}
.air-datepicker .air-datepicker-cell.-day-:hover {
  background-color: #bb1919c9;
  color: white;
}

.air-datepicker .air-datepicker-cell.-month-,
.air-datepicker .air-datepicker-cell.-year- {
  padding: 2px 8px;
  color: black;
}

.air-datepicker .air-datepicker-cell.-month-:hover,
.air-datepicker .air-datepicker-cell.-year-:hover {
  background-color: #bb1919c9;
  color: white;
}

.air-datepicker .air-datepicker-cell.-month-.-selected-,
.air-datepicker .air-datepicker-cell.-month-.-selected-:hover,
.air-datepicker .air-datepicker-cell.-year-.-selected-,
.air-datepicker .air-datepicker-cell.-year-.-selected-:hover {
  background-color: #bb1919;
  color: white;
}

.air-datepicker .air-datepicker-body--cells.-days- {
  row-gap: 4px;
}

.air-datepicker .air-datepicker-cell.-day-.-other-month- {
  color: #80808069;
}
.air-datepicker .air-datepicker-cell.-day-.-other-month-:hover {
  background-color: transparent;
  color: #80808069;
}

.air-datepicker--pointer {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #a49a9a;
  border-radius: 8px;
}

@media only screen and (max-width: 1024px) {
  .air-datepicker {
    width: 378px;
  }
}

@media only screen and (max-width: 768px) {
  .air-datepicker {
    width: 352px;
  }
  .air-datepicker--navigation {
    max-width: 100%;
  }
  .air-datepicker .air-datepicker-body--cells.-days- {
    row-gap: 2px;
  }
}
@media only screen and (max-width: 392px) {
  .air-datepicker {
    width: 288px;
  }
}
